<!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기 페이지</title>
    <link rel="stylesheet" href="/resources/css/find_id_page_layer.css">
  </head>
  <body>
    <div class="container">
      <header>
        <!-- 헤더 로고 -->
        <a href="/index.jsp"><p class="logo"></p></a>
        <!-- 헤더 메인 -->
        <p class="header-main"><h1 class="main">Remember Movie</h1></p>
        <!-- 헤더 우측 리스트 -->
        <ul class="nav">
          <li><a href="/introduction_page.html"><h4>소개</h4></a></li>
          <li><a href="/notice/list.do"><h4>커뮤니티</h4></a></li>
          <li><a href="/member/login_page.html"><h4>로그인</h4></a></li>
          <li><a href="/member/membership_page.html"><h4>회원가입</h4></a></li>
      </ul>
      </header>
      <section>
        <div class="login_area">
          <h1 class="login_text">Remember Movie</h1>
          <h2>아이디 찾기</h2>
          <h4>아이디는 가입시 입력하신 이메일을 통해 찾을 수 있습니다.</h4>
          <div class="find_text_area">
            <ul class="id_find_form">
              <li class="name_box">
                <label class="name" for="name">이 름 : </label>
                <input type="text" name="name" id="name">
              </li>
              <li class="email_box">
                <label class="email" for="email">이메일 : </label>
                <input type="email" name="email" id="email">
              </li>
              <input class="id_find" type="submit" value="아이디 찾기">
            </ul>
          </div>
        </div>
      </section>
      <footer>
        <p>
          Remember movie. 서울특별시 강북구 수유동 <br>
          대표 : 강정대 사업자등록번호 : 001-01-00001 <br>
          대표번호 : 02-999-9999 팩스번호 : 02-888-8888 홈페이지 : Remember movie.com <br>
          Copyright Remember movie. All Rights Reserved
        </p> 
      </footer>
    </div>
  </body>
</html>